<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="topnav">
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/add-user">Add New User</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </div>
    <% if (users.length === 0) { %>
    <p>No user found</p>
    <% } else { %>
    <table class="table-container">
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
        <th>Actions</th>
      </tr>
      <% JSON.stringify(users);console.log(users); users.forEach((user, index) => { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.city %></td>
        <td>
          <button>Delete</button>
          <button>Edit</button>
        </td>
      </tr>
      <% }) %>
    </table>
    <% } %>
  </body>
</html>
