<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="topnav">
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/add-user">Add New User</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </div>
    <% users.length === 0 ? 'No user found' : '' %>
    <table class="table-container">
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
      </tr>
      <% users.forEach((user, index) => { %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.city %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
