<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="topnav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/add-user">Add New User</a></li>
      </ul>
    </div>
    <div id="form" class="form-add-new">
      <form action="/create-user" method="POST">
        <fieldset>
          <legend><%= formTitle %></legend>
          <div class="input-group">
            <label for="email">Email: </label>
            <input type="email" name="email" value="<%= user.email %>" />
          </div>
          <div class="input-group">
            <label for="name">Name: </label>
            <input type="text" name="name" value="<%= user.name %>" />
          </div>
          <div class="input-group">
            <label for="city">City: </label>
            <input type="text" name="city" value="<%= user.city %>" />
          </div>
          <div class="submit-btn">
            <button>Lưu</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
